tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;
	border:none;
	mso-protection:locked visible;
	mso-style-name:씪좭;
	mso-style-id:0;}
.style21
	{color:blue;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;
	mso-style-name:씳촚쫩;
	mso-style-id:8;}
a:link
	{color:blue;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;}
a:visited
	{color:purple;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.style37
	{background:#C6EFCE;
	mso-pattern:black none;
	color:#006100;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;
	mso-style-name:줶;
	mso-style-id:26;}
.font12
	{color:windowtext;
	font-size:9.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;}
.font25
	{color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font26
	{color:#595D69;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:system-ui;
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font27
	{color:red;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font28
	{color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;}
.font29
	{color:#333333;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.font30
	{color:#333333;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font31
	{color:#333333;
	font-size:10.5pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:\FFFD\FFFD\FFFD\FFFD, sans-serif;
	mso-font-charset:0;}
.font32
	{color:#333333;
	font-size:10.5pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font33
	{color:#333333;
	font-size:10.5pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;}
.font34
	{color:#969696;
	font-size:10.5pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;}
.font35
	{color:gray;
	font-size:10.5pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Helvetica, sans-serif;
	mso-font-charset:0;}
.font36
	{color:gray;
	font-size:10.5pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font37
	{color:#333333;
	font-size:16.5pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Helvetica, sans-serif;
	mso-font-charset:0;}
.font38
	{color:#333333;
	font-size:16.5pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font39
	{color:gray;
	font-size:10.5pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;}
.font40
	{color:gray;
	font-size:10.5pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;}
.xl66
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;}
.xl67
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl68
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border:.5pt solid windowtext;}
.xl69
	{mso-style-parent:style0;
	color:white;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border:.5pt solid windowtext;
	background:#C00000;
	mso-pattern:black none;}
.xl70
	{mso-style-parent:style0;
	color:white;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border:.5pt solid windowtext;
	background:#C00000;
	mso-pattern:black none;
	white-space:normal;}
.xl71
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#00B0F0;
	mso-pattern:black none;}
.xl72
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#00B0F0;
	mso-pattern:black none;
	white-space:normal;}
.xl73
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border:.5pt solid windowtext;
	background:#00B0F0;
	mso-pattern:black none;}
.xl74
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#92D050;
	mso-pattern:black none;}
.xl75
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#92D050;
	mso-pattern:black none;
	white-space:normal;}
.xl76
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border:.5pt solid windowtext;
	background:#92D050;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style0;
	color:#4C4C4C;
	font-size:9.0pt;
	background:#92D050;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:yellow;
	mso-pattern:black none;}
.xl79
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:yellow;
	mso-pattern:black none;
	white-space:normal;}
.xl80
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border:.5pt solid windowtext;
	background:yellow;
	mso-pattern:black none;}
.xl81
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	background:#00B0F0;
	mso-pattern:black none;}
.xl82
	{mso-style-parent:style21;
	color:blue;
	font-size:11.0pt;
	text-decoration:underline;
	text-underline-style:single;
	border:.5pt solid windowtext;
	background:#00B0F0;
	mso-pattern:black none;}
.xl83
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	background:yellow;
	mso-pattern:black none;}
.xl84
	{mso-style-parent:style21;
	color:blue;
	font-size:11.0pt;
	text-decoration:underline;
	text-underline-style:single;}
.xl85
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border:.5pt solid windowtext;
	background:#00B0F0;
	mso-pattern:black none;
	white-space:normal;}
.xl86
	{mso-style-parent:style0;
	color:#333333;
	font-size:16.5pt;
	font-weight:700;
	font-family:Helvetica, sans-serif;
	mso-font-charset:0;
	white-space:normal;}
.xl87
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#00B0F0;
	mso-pattern:black none;}
.xl88
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#00B0F0;
	mso-pattern:black none;
	white-space:normal;}
.xl89
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border:.5pt solid windowtext;
	background:#00B0F0;
	mso-pattern:black none;}
.xl90
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#A6A6A6;
	mso-pattern:black none;}
.xl91
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#A6A6A6;
	mso-pattern:black none;
	white-space:normal;}
.xl92
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border:.5pt solid windowtext;
	background:#A6A6A6;
	mso-pattern:black none;}
.xl93
	{mso-style-parent:style0;
	color:#333333;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	background:#00B0F0;
	mso-pattern:black none;}
.xl94
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	mso-number-format:"\#\,\#\#0";
	text-align:left;
	border:.5pt solid windowtext;
	background:#00B0F0;
	mso-pattern:black none;}
.xl95
	{mso-style-parent:style0;
	color:#666666;
	font-size:10.5pt;
	font-family:Helvetica, sans-serif;
	mso-font-charset:0;
	background:yellow;
	mso-pattern:black none;}
.xl96
	{mso-style-parent:style0;
	color:#666666;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;}
.xl97
	{mso-style-parent:style0;
	color:#666666;
	font-size:10.5pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;}
.xl98
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border:.5pt solid windowtext;
	white-space:normal;}
.xl99
	{mso-style-parent:style21;
	color:blue;
	font-size:11.0pt;
	text-decoration:underline;
	text-underline-style:single;
	border:.5pt solid windowtext;}
.xl100
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#7030A0;
	mso-pattern:black none;}
.xl101
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#7030A0;
	mso-pattern:black none;
	white-space:normal;}
.xl102
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border:.5pt solid windowtext;
	background:#7030A0;
	mso-pattern:black none;}
.xl103
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#D9D9D9;
	mso-pattern:black none;}
.xl104
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#D9D9D9;
	mso-pattern:black none;
	white-space:normal;}
.xl105
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border:.5pt solid windowtext;
	background:#D9D9D9;
	mso-pattern:black none;}
.xl106
	{mso-style-parent:style37;
	color:#006100;
	font-size:11.0pt;
	border:.5pt solid windowtext;
	background:#C6EFCE;
	mso-pattern:black none;}
.xl107
	{mso-style-parent:style37;
	color:#006100;
	font-size:11.0pt;
	border:.5pt solid windowtext;
	background:#C6EFCE;
	mso-pattern:black none;
	white-space:normal;}
.xl108
	{mso-style-parent:style37;
	color:#006100;
	font-size:11.0pt;
	text-align:left;
	border:.5pt solid windowtext;
	background:#C6EFCE;
	mso-pattern:black none;}
.xl109
	{mso-style-parent:style0;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;}
.xl110
	{mso-style-parent:style0;
	color:#111111;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#00B0F0;
	mso-pattern:black none;
	white-space:normal;}
.xl111
	{mso-style-parent:style0;
	border:.5pt solid windowtext;
	background:#00B0F0;
	mso-pattern:black none;}
.xl112
	{mso-style-parent:style0;
	border:.5pt solid windowtext;}
.xl113
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:gray;
	mso-pattern:black none;}
.xl114
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:gray;
	mso-pattern:black none;
	white-space:normal;}
.xl115
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border:.5pt solid windowtext;
	background:gray;
	mso-pattern:black none;}
.xl116
	{mso-style-parent:style0;
	color:#333333;
	font-size:9.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.xl117
	{mso-style-parent:style0;
	color:#333333;
	font-size:11.25pt;
	font-family:"Microsoft Yahei", sans-serif;
	mso-font-charset:134;}
.xl118
	{mso-style-parent:style21;
	color:blue;
	font-size:11.0pt;
	text-decoration:underline;
	text-underline-style:single;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;}
.xl119
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl120
	{mso-style-parent:style0;
	color:#666666;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:#00B0F0;
	mso-pattern:black none;}
.xl121
	{mso-style-parent:style0;
	color:#666666;
	font-size:10.5pt;
	font-family:Helvetica, sans-serif;
	mso-font-charset:0;}
.xl122
	{mso-style-parent:style0;
	white-space:normal;}
.xl123
	{mso-style-parent:style0;
	font-size:26.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	white-space:normal;}
.xl124
	{mso-style-parent:style0;
	color:red;
	font-size:16.0pt;
	font-weight:700;
	white-space:normal;}
.xl125
	{mso-style-parent:style0;
	font-size:10.0pt;
	white-space:normal;}
.xl126
	{mso-style-parent:style0;
	color:black;}
.xl127
	{mso-style-parent:style0;
	color:black;
	text-align:left;}
.xl128
	{mso-style-parent:style0;
	color:#595D69;
	font-family:system-ui;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	text-align:left;}
.xl129
	{mso-style-parent:style0;
	color:red;
	text-align:left;}
.xl130
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border:.5pt solid windowtext;
	background:#99CC00;
	mso-pattern:black none;}
.xl131
	{mso-style-parent:style0;
	font-size:9.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border:.5pt solid windowtext;
	background:#00CCFF;
	mso-pattern:black none;}
.xl132
	{mso-style-parent:style0;
	color:black;
	text-align:left;
	white-space:normal;}
.xl133
	{mso-style-parent:style0;
	font-size:24.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;}
.xl134
	{mso-style-parent:style0;
	font-size:24.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl135
	{mso-style-parent:style0;
	font-size:24.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl136
	{mso-style-parent:style21;
	color:red;
	font-size:11.0pt;
	font-weight:700;
	text-align:left;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	white-space:normal;}
.xl137
	{mso-style-parent:style21;
	color:red;
	font-size:11.0pt;
	font-weight:700;
	text-align:left;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
.xl138
	{mso-style-parent:style21;
	color:red;
	font-size:11.0pt;
	font-weight:700;
	text-align:left;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;}
